@charset "utf-8";

$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;
$blue-gray: #161d2e;
$light-blue-gray: #334155;

// Bulma's global variable overrides
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Bulma's component variable overrides
$body-background-color: $blue-gray;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$input-background-color: $light-blue-gray;
$input-color: white;


// Import only what you need from Bulma
@import '~bulma/bulma.sass';

body {
  background-color: #121212;
  padding: 2%;
 
 max-width: 100%;
}

code {
  background-color: blanchedalmond;
  margin: 0.7rem 0.2rem;
  padding: 0.2rem 0.7rem;
  color: darkgreen;
  border-radius: 2px;
}

.App {
  max-width: 100%;
  font-family: sans-serif;
  text-align: left;   
}
.nav li:not(:first-child) {
  padding-left: 1rem;
}
.nav li a {
  color: #FDF2F8;
  text-decoration: none;
  background-color: #EC4899;
  padding: 0.75rem 2rem;
  border-radius: 4px;
}

.nav {
  margin-bottom: 5%;
  display: flex;
  list-style-type: none;
  padding-left: 0;
}
.dark-theme {
  background-color: #1f1b24;
  color: #f8f8f8;
}




.content {
  padding: 0.5em;
  margin: 0 auto;
  max-width: 100%;
  font-size: 1.2rem;
  line-height: 1.1;
}

.light-theme {
  background-color: #fff;
  color: #444444;
}
